# Directory for gitignore
*.pth
*.ckpt
data

# ignore file in fakevoice
!fakevoice/SW_ty/data/.gitkeep
fakevoice/SW_ty/lightning_logs


# ignore file in argi_price
!argi_price/data/.gitkeep